@import url(http://fonts.googleapis.com/css?family=Raleway);
html
{/* background-image:url(../images/abandoned-forest-hd-wallpaper-34950.jpg); */

  background-position: center;
  background-size:500px 500px;
  background-repeat:no-repeat;
  margin: 3% 7% 7% 3%;
}
/*  center the grid so it's not hard locked to the left and looks less bad */
.grid {
  display: grid;
  grid-template-columns: 50px 42% 42% 50px;
  grid-auto-rows:minmax(100px, 2);
  grid-gap:1em;

  height:80%
  /*
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  */
}
/*these are just for ease of use through coloring the background*/
header  {
    background-image: url(../images/asphalt-beauty-colorful-237018.jpg);
    grid-column: 2 / 3;
    filter: opacity(.7)
}
.sidemenu 
{grid-column:1;
  grid-row:2;
  color:blueviolet;}

.nested {
  display:grid;
  grid-template-columns:repeat(3,auto);
  grid-auto-rows: 70px;
  grid-gap:1em;
}
.nested p{  color:magenta;}

.nested div{
  border:#eee 5px solid;
  padding: 1em;

}

/* form styles */
.form {
  grid-column: 2 / 4;
  grid-row:2;
  background-image:url("./images/breathtaking-calm-color-36478.jpg"); 
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left:15px;
  color: #eee;
}
.form label {
  color:black;
  text-shadow: 2px 2px #fff;
  box-shadow:5px 5px 5px 5px;
  font-size:150%;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

/* rever string text coloring */
#reverseStringAnswer {
  color: magenta;

}

@media all and (max-width: 700px) {
.grid{ grid-template-columns:1fr 35% 35% 1fr;

}
}
/*
body {
    
    font-family:'raleway', sans-serif; 
    background: #f09206;
  padding: 10px 10px 10px 10px;
  border: .25rem solid;
  border-color: mediumpurple;
  
}
body h1
{ background-image: url(/SS2.jpg);
  background-repeat: no-repeat;
  border:1px solid #00000333;
  border-radius: 15px;
  padding-left:4%;padding-top:10%;
  text-align:center;
box-shadow:5px 5px 5px #828282}